# CMPSC 448: Homewrok #1
# Exploratory Data Analysis with `pandas`

## Objectives

In this assignment, you are asked to analyze the UCI Adult data set containing demographic information about the US residents. This data was extracted from the census bureau database found at

http://www.census.gov/ftp/pub/DES/www/welcome.html

The features of data with possible values of each feature are listed below:

| Feature Name| Possible Values  |
|------|------|
| age | continuous|
| workclass| Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked|
| fnlwgt| continuous|
| education | Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool|
|education_num | continuous|
|marital_status | Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse|
|occupation | Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces|
|relationship | Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried |
|race | White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black|
|sex | Female, Male|
|capital_gain| continuous|
|capital_loss | continuous|
|hours-per-week | continuous |
|native-country | United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands |
|salary | >50K,<=50K |


Please  complete the tasks in the Jupyter notebook by answering following 8 questions.

In [38]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [9]:
data = pd.read_csv('adult.data.csv')
print("\n".join(data.columns))

age
 workclass
 fnlwgt
 education
 education-num
 marital-status
 occupation
 relationship
 race
 sex
 capital-gain
 capital-loss
 hours-per-week
 native-country
 salary

In [35]:
data.shape

(32561, 15)

In [30]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women (sex feature) are represented in this dataset?

In [47]:
data[' sex'].value_counts()

 Male      21790
 Female    10771
Name:  sex, dtype: int64

### 2. What is the average age (age feature) of women?

In [52]:
data.loc[data[' sex'] == ' Female', 'age'].mean()

36.85823043357163

### 3. What is the percentage of German citizens (native-country feature)?

In [165]:
print((float((data[' native-country'] == ' Germany').sum()) / data.shape[0])*100, "%")

0.42074874850281013 %

###  4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [167]:
more_than_50K_mean = data.loc[data[' salary'] == ' >50K', 'age'].mean()
less_than_50K_mean = data.loc[data[' salary'] == ' <=50K', 'age'].mean()
more_than_50K_std = data.loc[data[' salary'] == ' >50K', 'age'].std()
less_than_50K_std = data.loc[data[' salary'] == ' <=50K', 'age'].std()
print('the mean of age for those who more than 50K is ', more_than_50K_mean, 'the standard deviation of age is ', more_than_50K_std)
print('the mean of age for those who less than 50K is ', less_than_50K_mean, 'the standard deviation of age is ', less_than_50K_std)

the mean of age for those who more than 50K is  44.24984058155847 the standard deviation of age is  10.51902771985177
the mean of age for those who less than 50K is  36.78373786407767 the standard deviation of age is  14.020088490824813

### 5. Is it true that people who earn more than 50K have at least high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [138]:
arr = data.loc[data[' salary'] == ' >50K', ' education'].unique()
for i in arr:
    if i != ' Bachelors' and i != ' Prof-school' and i != ' Assoc-acdm' and i != ' Assoc-voc' and 1 != ' Masters' and i != ' Doctorate' and i != ' HS-grad' and i != ' Some-college':
        print('false')
        break
    if i == len(arr)-1:
        print('true')
    else:
        continue

false

### 6.  Display age statistics for each race (race feature) and each gender (sex feature).

Hint: Use `groupby()` and `describe()` functions of DataFrame. Find the maximum age of men of Amer-Indian-Eskimo race.

In [169]:
for (race, gender), x in data.groupby([' race', ' sex']):
    print("Race: {0}, Gender: {1}".format(race, gender))
    print(x['age'].describe())
    
#the maximum age of Amer-Indian-Eskimo is 80

Race:  Amer-Indian-Eskimo, Gender:  Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race:  Amer-Indian-Eskimo, Gender:  Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race:  Asian-Pac-Islander, Gender:  Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race:  Asian-Pac-Islander, Gender:  Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race:  Black, Gender:  Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:  Black, Gender:  Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:  Other, Gender:  Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race:  Other, Gender:  Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race:  White, Gender:  Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race:  White, Gender:  Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

### 7. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [161]:
maximum = data[' hours-per-week'].max()
print("maximum number of hours: ", maximum)
workers = data[data[' hours-per-week'] == maximum].shape[0]
print("number of workers work such a number of hours: ", workers)
temp = data[data[' hours-per-week'] == maximum]
per = (float((temp[' salary'] == ' >50K').sum())/workers) * 100
print("percentage: ", per, "%" )

maximum number of hours:  99
number of workers work such a number of hours:  85
percentage:  29.411764705882355 %

### 8. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [163]:
for (country, salary), x in data.groupby([' native-country', ' salary']):
    print("country: {0}, salary: {1}".format(country, salary))
    print(x[' hours-per-week'].mean())

country:  ?, salary:  <=50K
40.16475972540046
country:  ?, salary:  >50K
45.54794520547945
country:  Cambodia, salary:  <=50K
41.416666666666664
country:  Cambodia, salary:  >50K
40.0
country:  Canada, salary:  <=50K
37.91463414634146
country:  Canada, salary:  >50K
45.64102564102564
country:  China, salary:  <=50K
37.38181818181818
country:  China, salary:  >50K
38.9
country:  Columbia, salary:  <=50K
38.68421052631579
country:  Columbia, salary:  >50K
50.0
country:  Cuba, salary:  <=50K
37.98571428571429
country:  Cuba, salary:  >50K
42.44
country:  Dominican-Republic, salary:  <=50K
42.338235294117645
country:  Dominican-Republic, salary:  >50K
47.0
country:  Ecuador, salary:  <=50K
38.041666666666664
country:  Ecuador, salary:  >50K
48.75
country:  El-Salvador, salary:  <=50K
36.03092783505155
country:  El-Salvador, salary:  >50K
45.0
country:  England, salary:  <=50K
40.483333333333334
country:  England, salary:  >50K
44.53333333333333
country:  France, salary:  <=50K
41.05882352941177
country:  France, salary:  >50K
50.75
country:  Germany, salary:  <=50K
39.13978494623656
country:  Germany, salary:  >50K
44.97727272727273
country:  Greece, salary:  <=50K
41.80952380952381
country:  Greece, salary:  >50K
50.625
country:  Guatemala, salary:  <=50K
39.36065573770492
country:  Guatemala, salary:  >50K
36.666666666666664
country:  Haiti, salary:  <=50K
36.325
country:  Haiti, salary:  >50K
42.75
country:  Holand-Netherlands, salary:  <=50K
40.0
country:  Honduras, salary:  <=50K
34.333333333333336
country:  Honduras, salary:  >50K
60.0
country:  Hong, salary:  <=50K
39.142857142857146
country:  Hong, salary:  >50K
45.0
country:  Hungary, salary:  <=50K
31.3
country:  Hungary, salary:  >50K
50.0
country:  India, salary:  <=50K
38.233333333333334
country:  India, salary:  >50K
46.475
country:  Iran, salary:  <=50K
41.44
country:  Iran, salary:  >50K
47.5
country:  Ireland, salary:  <=50K
40.94736842105263
country:  Ireland, salary:  >50K
48.0
country:  Italy, salary:  <=50K
39.625
country:  Italy, salary:  >50K
45.4
country:  Jamaica, salary:  <=50K
38.23943661971831
country:  Jamaica, salary:  >50K
41.1
country:  Japan, salary:  <=50K
41.0
country:  Japan, salary:  >50K
47.958333333333336
country:  Laos, salary:  <=50K
40.375
country:  Laos, salary:  >50K
40.0
country:  Mexico, salary:  <=50K
40.00327868852459
country:  Mexico, salary:  >50K
46.57575757575758
country:  Nicaragua, salary:  <=50K
36.09375
country:  Nicaragua, salary:  >50K
37.5
country:  Outlying-US(Guam-USVI-etc), salary:  <=50K
41.857142857142854
country:  Peru, salary:  <=50K
35.06896551724138
country:  Peru, salary:  >50K
40.0
country:  Philippines, salary:  <=50K
38.065693430656935
country:  Philippines, salary:  >50K
43.032786885245905
country:  Poland, salary:  <=50K
38.166666666666664
country:  Poland, salary:  >50K
39.0
country:  Portugal, salary:  <=50K
41.93939393939394
country:  Portugal, salary:  >50K
41.5
country:  Puerto-Rico, salary:  <=50K
38.470588235294116
country:  Puerto-Rico, salary:  >50K
39.416666666666664
country:  Scotland, salary:  <=50K
39.44444444444444
country:  Scotland, salary:  >50K
46.666666666666664
country:  South, salary:  <=50K
40.15625
country:  South, salary:  >50K
51.4375
country:  Taiwan, salary:  <=50K
33.774193548387096
country:  Taiwan, salary:  >50K
46.8
country:  Thailand, salary:  <=50K
42.86666666666667
country:  Thailand, salary:  >50K
58.333333333333336
country:  Trinadad&Tobago, salary:  <=50K
37.05882352941177
country:  Trinadad&Tobago, salary:  >50K
40.0
country:  United-States, salary:  <=50K
38.79912723305605
country:  United-States, salary:  >50K
45.50536884674383
country:  Vietnam, salary:  <=50K
37.193548387096776
country:  Vietnam, salary:  >50K
39.2
country:  Yugoslavia, salary:  <=50K
41.6
country:  Yugoslavia, salary:  >50K
49.5